<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -->
<!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"
  integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script> -->
<!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js"
  integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script> -->
{{ $corejs := resources.Get "js/core.js" | minify }}
{{ $katex := resources.Get "js/katex.min.js" | minify }}
{{ $highlight := resources.Get "js/highlight.min.js" | minify }}
{{ $autorender := resources.Get "js/auto-render.min.js" | minify }}
{{ $jquery := resources.Get "js/jquery-3.4.1.slim.min.js" | minify }}
<script src="{{ $corejs.Permalink }}"></script>
<script src="{{ $highlight.Permalink }}"></script>
<script src="{{ $jquery.Permalink }}"></script>
<script src="{{ $katex.Permalink }}"></script>
<script src="{{ $autorender.Permalink }}" onload="renderMathInElement(document.body);"></script>
<script>
commentBox('5692539998830592-proj');
</script>