<a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  href="{{ .Permalink }}" class="card blog-card" rel="bookmark" >

  {{ if isset .Params "timestart" -}}
    <div class="card-time-container">
      <h1>Далее</h1>
      <h1>{{ .Params.TimeStart }} - {{ .Params.TimeEnd }}</h1>
    </div>
  {{- end }}
  
    {{ if isset .Params "featuredimage" }}
    <div class="card-img-container">
      <p class="card-img-overlay">Следующий постер</p>
      <picture>
        {{ if (fileExists (printf "%s/%s" "static" (replace (.Params.featuredimage) (path.Ext .Params.featuredimage) ".webp"))) -}}
          <source srcset="{{ replace (.Params.featuredimage) (path.Ext (.Params.featuredimage)) ".webp" | absURL }}" type="image/webp">
        {{- end }}
        <source srcset="{{ .Params.featuredimage | absURL }}">
        <img src="{{.Params.featuredimage | absURL }}" class="card-img" {{ if isset .Params "featuredimagedescription" }}alt="{{.Params.featuredimagedescription}}"{{end}}>
      </picture>
    </div>
    {{ end }}
  <article class="card-body">
    <h2 class="card-title">{{ .Title }}</h2>
    <p class="card-text">{{ if (isset .Params "description") }}{{ index .Params "description" }}{{ else }}{{ .Summary }}{{ end }}</p>
    <!-- <div class="card-subtext muted-text">
      <p>Начало <time datetime="{{ .PublishDate.Format "12:00" }}">{{ .PublishDate.Format "12:00" }}</time></p>
    </div> -->
  </article>
</a>