<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}

<body class="single-body">
  {{ partial "nav-bar.html" . }}
  <main class="content side-text-padding">
    <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
      <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        <p class="post-date">{{ .Description }}</p>
      </header>
      <div class="scrollable">
        <div>
          {{ .Content }}
        </div>
      </div>
    </article>
    <div id="graphcomment"></div>
  </main>
  <nav class="end-nav side-padding">
    {{ with .PrevInSection }}
    {{ .Render "li-next" }}
    {{ end }}
    {{ partial "home-card.html" . }}
  </nav>
  {{ partial "scripts.html" . }}


<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.graphcomment_id = 'rymbln-test-site';

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>
</body>

</html>